<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
<!--эта строка выще указываеи, где размещена ссылка о пагинации(т.н номер)-->
<ul class="users">
  <%= render @users %>
  <!--эта строка выще рендерит класс юзер - то есть автоматически проходится по каждому объекту, а тот в свою очередь
  идет по _юзер.хтмл.ерб-->
</ul>
<%= will_paginate %>